*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
    
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    /* z-index: -1; */
    /* opacity: 0.2; */
    background-color: #f1f1f1;
    background-color: #00ff08;
}
/* #page1>h1 */
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #eef4ed;
    background-color:#fff8f0;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
    background-color: #ff54f1;
}
#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
    background-color: #00ffff;
}
canvas{
    position: relative;
    /* background-color: aquamarine; */
    z-index: 5;
    padding: 0;
    margin: 0;
    /* top:7%; */
    max-width: 100vw;
    max-height: 100vh;
}
#loop{
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 90%;
    font-size: 100px;
    white-space: nowrap;
    font-family: gilroy;
}
#loop>h1{
    font-weight: 400;
    animation-name: anim;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
#loop>h1>span{
    -webkit-text-stroke: 1.5px #000;
    color: transparent;
    font-weight: 500;
}
@keyframes anim{
    0%{
        transform: translateX(1%);
    }
    100%{
        transform: translateX(-49%);
    }
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    /* position: relative; */
    /* z-index: 1; */
    padding: 0px 30px;
}
#nav>h3{
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;
}
.nav-link{

    display: flex;
    justify-content: space-between;
    width:6rem;
    right: 5%;
}
.gmail>img{
    height: 2.4rem;
    right: 5%;

}
.insta>img{
    height: 2.3rem;
    right: 5%;
}

#page>h3{
    position: absolute;
    top: 55%;
    font-family: gilroy;
    font-weight: 400;
    color: #7c7c7c;
    left: 5%;
}
#page>h4{
    position: absolute;
    top: 62%;
    left: 25%;
    font-family: gilroy;
    font-weight: 500;
}
#page1>#right-text{
    position: absolute;
    top: 6%;
    left: 3%;
    width:27rem;


}
#page1>#right-text>p{

    font-size: 1.5rem;
    letter-spacing: 2px;
    position: absolute;
    top: 24rem;
    text-align: start;
    color: #3c4437;
    /* font-family: gilroy; */
}
#page1>#right-text>h1{
    line-height: 1.5;
    font-size: 4.7rem;
}
#vtp{
    color: #f1f1f1;
    font-size: 6rem;
}
#page1>#right-text>img{
    height:8rem;
    border-radius: 14%;
    position: absolute;
    top: 12rem;
    left: 9rem;
 
}
#page1>#left-text{
    position: absolute;
    top: 30%;
    right: 2%;
    width:25em;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: end;
}
#page1>#left-text>h1{
    font-size: 3.5rem;
    line-height: 1.5;
}
#page1>#left-text>h3{
    color: #3c4437;
    font-size: 1.35rem;
    font-weight: 400;
}
#page1>#left-text>img{
    height:10rem;
    position:absolute;
    top:38%;
    right:65%;
    width:fit-content;
    padding:1.5rem;
    border-radius: 34%;
 
}
#page2>#text1{
    position: relative;
    top: 10%;
    left: 3%;
    width:35rem;
}
#page2>#text1>h1{
    font-size: 3rem;
    line-height: 1.5;
}

#g20{
    color: #ff8000;
}
#mun{
    color: #0062ff;
}
.summit-icon{
    display: flex;
    position: absolute;
    top:55%;
    width:30%;
    left:3%;
    flex-direction: column;
    align-items: center;
}
div.summit-icon>img{
    
    height:8rem;
    
    /* width:20rem; */
    border-radius: 34%;
}
#page2>#text2{
    position: absolute;
    top: 50%;
    right: 2%;
    width:35%;
    font-size: 1.5rem;
    text-align: end;
    letter-spacing: 2px;
    
}
#page2>#text2>p{
    color: #373c34;
    font-weight: 400;
}
#page3>#text3{
    position: absolute;
    top: 40%;
    right: 2%;
    text-align: end;
}
#page3>#text3>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page3>#text3>h1{
    font-size: 70px;

}
#page4>#text3{
    position: absolute;
    top: 40%;
    right: 2%;
    text-align: end;
}
#page4>#text3>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page4>#text3>h1{
    font-size: 70px;

}

/* page 3 starts*/

#page3>#right-text{
    position: absolute;
    top: 10%;
    left: 5%;
    width:25em;
    display:flex;
    flex-direction: column;
    align-items: start;

}
#page3>#right-text>p{

    font-size: 1.5rem;
    /* text-align: center; */
    color: #3c4437;
    padding-top: 3rem;

}
#page3>#right-text>h1{
    line-height: 1.5;
    font-size: 3rem;
}
#page3>#right-text>div{
    height:5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    font-size: 2rem;
    top: 48%;
    left: 30%;

}
#page3>#right-text>div>img{
    height:5rem;
    width:fit-content;
    padding:1.5rem;
    border-radius: 34%;
 
}
#TTD{
    color: aliceblue;
}
#page3>#left-text{
    position: absolute;
    top: 15%;
    right: 2%;
    width:30rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: end;
}
#page3>#left-text>h1{
    font-size: 3.5rem;
    line-height: 1.5;
}
#page3>#left-text>p{
    color: #3c4437;
    font-size: 1.5rem;
    width: 23rem;
    position: absolute;
    top: 27rem;
    right: 1rem;
    /* text-align: center; */
    font-weight: 400;
    
}
#page3>#left-text>div{
    height:5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    font-size: 2rem;
    top: 20rem;
    right: 4rem;

}
#page3>#left-text>div>img{
    height:5rem;
    width:fit-content;
    padding:1.5rem;
    border-radius: 34%;
 
}


/* page 4 starts*/

#page4>#right-text{
    position: absolute;
    top: 5%;
    left: 5%;
    width:25em;
    display:flex;
    flex-direction: column;
    align-items: center;

    /* background-color: aquamarine; */
    /* z-index: 99;
    opacity: 100; */
}
#page4>#right-text>p{

    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-top: 2rem;
    text-align: start;
    color: #3c4437;
    /* font-family: gilroy; */
}
#page4>#right-text>h1{
    line-height: 1.5;
    font-size: 5rem;
}
#page4>#right-text>div{
    text-align: center;
    display: flex;
    transform: translateX(6%);
}
#page4>#right-text>div>img{
    height:8rem;
    width:fit-content;
    padding:1.5rem;
    border-radius: 34%;
 
}
div>img.python{
    height: 10rem;
    position: absolute;
    top: -7.5rem;
    padding: 0;
    left: 16rem;
}



#page4>#left-text{
    position: absolute;
    top: 15%;
    right: 2%;
    width:35rem;
    height: 37.3rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: end;
    /* background-color: #1efc61; */
}
#page4>#left-text>h1{
    font-size: 3.5rem;
    line-height: 1.5;
}
#page4>#left-text>p{
    color: #3c4437;
    font-size: 1.5rem;
    letter-spacing: 2px;
    width: 28rem;
    position: absolute;
    right: 0;
    top: 23rem;
    /* background-color: antiquewhite; */

}
#page4>#left-text>img{
    height:8rem;
    position:absolute;
    top:7rem;
    left: 12rem;
    
  
 
}